Add your own CSS under here

.footer {
    background-color: #5a1212;
    
}

.error {
    color: red;
}



.table-responsive
{
    width: 100%;
    margin-bottom: 15px;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

