
.footer {
    background-color: #5a1212;
    
}

.error {
    color: red;
}


.table-responsive
{
    width: 100%;
    margin-bottom: 15px;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.welcome-container {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-end;
    
}

.welcome-container > div {
    width: auto;
    padding: 50px 80px 0 0;
}

.card {
    max-width: 400px;
    margin: auto;
  }
  
  @media screen and (max-width: 768px) {
    .card {
      max-width: 100%;
    }
  }
  nav{
    width: 100%;

  }
  nav ul{
background-color: red;
  }



  INSERT INTO products (name, category_id, price, description, images)
  VALUES
  ( jordan1, 1, 'This is the description of Product 1', 'image1.jpg'),
  ( jordan 2, 2, 'This is the description of Product 2', 'image2.jpg'),
  ( jordan3, 3, 'This is the description of Product 3', 'image3.jpg');
  